#================================[App info]================================
APP_NAME = "EGen-01"
APP_VERSION = "0.1"
OPEN_AI_API="sk-proj-"
#================================[File info]================================
FILE_ALLOWED_TYPES = ["text/plain","application/pdf"]
FILE_MAX_SIZE = 10