fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.10
python-dotenv==1.0.1
pydantic-settings==2.5.2
aiofiles==24.1.0
langchain==0.3.1
joblib==1.4.2
PyMuPDF==1.24.10
motor==3.6.0
pydantic-mongo==2.3.0
openai==1.50.1
cohere==5.10.0
qdrant-client==1.11.3
wheel==0.44.0
setuptools==75.1.0
pydantic==2.9.2